*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Times New Roman", Times, serif;
  }
.datecss{
  margin-right: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: larger;
}
.tempcss{
  margin-right: 20px;
  margin-top: 14px;
}

/* main */
.card-news {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  box-shadow: -3px 6px 5px 0px rgba(176,164,176,1);
  transition: all .3s ease-in-out;
  
}
.card-news:hover{
  box-shadow: -3px 18px 20px 0px rgba(99,89,99,1);
}
/* Title styles */
.card-news h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
 
}
.card-date{
  font-size: 20px;
}
/* Description styles */
.card-news p {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
  
}

/* Link styles */
.card-news a {
  display: block;
  text-decoration: none;
  padding: 8px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: #666;
  
}
.card-end{
  display: flex;
  justify-content:space-between
}
.card-author{
  display: flex;
  justify-content: flex-end;
  
}
.link-read{
  color: blue;
}

.link-read:hover{
  color: rgb(164, 164, 248);
}
/* search bar */
.search-bar{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  
}
.search-bar-text{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
}
.comment{
  background-color: #d3cdcd;
  box-shadow: #a59e9e;
  list-style-type:none;
}
.top-level-comment {
  /* Add your styles for top-level comments here */
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0; /* Add margin only to the top and bottom */
}

.child-comment {
  /* Add your styles for child comments here */
  background-color: #ddfcf3;
  
  margin: 2px;
  box-shadow: hsl(0, 0%, 100%);
}
.container-details{
  display: block;
}
.container-main h1{
  display: flex;
  justify-content: center;
}
.com-main h6{
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.comments-div{
  padding: 0;
  align-items: center;
  justify-content: center;
}
ol, ul {
  padding: -4px;
}
@media only screen and (max-width: 400px) {
  .comment{
    background-color: #ffffff;
    list-style-type:none;
  }
  .com-main{
    width: 400px
  }
  .child-comment {
    /* Add your styles for child comments here */
    background-color: #ddfcf3;
    max-width: 350px;
    box-shadow: hsl(0, 0%, 100%);
  }
  .comments-div {
    display: block;
    
}
}