*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    
  }
.datecss{
  margin-right: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: larger;
}
.tempcss{
  margin-right: 20px;
  margin-top: 14px;
}

/* main */
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
  
  
}
.card:hover{
  transform: translateY(-10px);
  animation-duration: 20ms;
}
/* Title styles */
.card h3 {
  font-size: 20px;
  margin: 0;
  color: #333;
 
}
.card-date{
  font-size: 20px;
}
/* Description styles */
.card p {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
  
}

/* Link styles */
.card a {
  display: block;
  text-decoration: none;
  padding: 8px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: #666;
  
}

.link-read{
  margin-left: 20px;
}
/* search bar */
.search-bar{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  
}
.search-bar-text{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 30px;
}
.comment{
  background-color: #cdbdbd;
  box-shadow: #333;
  list-style-type:none;
 
}
.top-level-comment {
  /* Add your styles for top-level comments here */
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0; /* Add margin only to the top and bottom */
}

.child-comment {
  /* Add your styles for child comments here */
  background-color: #ffffff;
  padding: 5px;
  margin: 5px;
  box-shadow: #000000;
}